/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* GENERAL */
section {
  padding: 70px 60px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #222;
}

p {
  color: #555;
}

/* HERO */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f9ff;
  min-height: 100vh;
}

.hero-contents {
  max-width: 500px
